body {

    margin: 0;
    background-image: url(billeder/Luz_Background.jpg);
}

header {
     font-family: 'Playfair Display', serif;

}

h1, h2 {
font-family: 'Lora', serif;



}

h3 {
     font-family: 'Libre Baskerville', serif;

}

p {

     font-family: 'Raleway', sans-serif;
}







/*

p {
font-family: 'Lora', serif;
}

header {

    font-family: 'Libre Baskerville', serif;
}

h1 {

    font-family: 'Playfair Display', serif;
}

h3 {
    font-family: 'Raleway', sans-serif;
}*/
