#prices {
    background-image: url(billeder/Luz_Background.jpg);
}

.col {
    width: 5vw;
    height: 5vw;
    background-color: aqua;
}

#box1 {
    left: 10vw;
    position: absolute;
}

#box2 {
    left: 20vw;
    position: absolute;
}

#box3 {
    left: 30vw;

    position: absolute;
}
